body,
html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: Arial, sans-serif;
}

.div-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}
button {
  padding: 10px 20px;
  font-size: 12px;
  text-align: center;
  width: 100%;
  text-decoration: none;
  color: white;
  background-color: #838583;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
button:hover {
  background-color: #878d87;
}
